.sidebar-container {
  background: #00142a;
  transition: width .6s;
  &.is-active {
    width: 64px !important;
    .logo {
      width: 64px !important;
    }
    .el-menu--display,
    .el-menu--display+ .el-submenu__icon-arrow {
      display: none;
    }
  }
}

.el-menu-item .is-active {
  color: #409eff !important;
}


