//通用样式
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei";
  line-height: 2;
  margin: 0;
  width: 100%;
  height: 100%;
}

html, body, #app{
  width: 100%;
  height: 100%;
}

.text-white {
  color: #fff;
}

h1, h2, h3, h4, h6, h6 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

//美化滚动条
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsla(220,4%,58%,.3);
}

// 去掉h1标签，被article,aside,nav,section 标签重置的大小
:-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
